<h1>Pipes</h1>
<h2>RAW</h2>
<p>{{ texto }}</p>
<p>{{ numero }}</p>
<p>{{ fecha }}</p>
<p>{{ nombre }}</p>
<p>{{ precio }}</p>
<h2>Tranformaciones</h2>
<h3>Cadena</h3>
<p>{{ texto | uppercase }}</p>
<p>{{ texto | lowercase }}</p>
<p>{{ texto | titlecase }}</p>
<h3>Número</h3>
<p>{{ numero | number: "1.0-2":"es-ES" }}</p>
<h3>Fecha</h3>
<p>{{ fecha | date: "shortDate":undefined:"es-ES" }}</p>
<p>{{ fecha | date: "dd/MM/yyyy" }}</p>
<h3>Nombre</h3>
<p>{{ nombre | inversorNombre}}</p>
<h3>Precio</h3>
