section {
    padding: 100px;
    article {
        text-align: center;
        h1 {
            font-size: 2.5rem;
            font-weight: bold;
            color: #000;
        }
        p {
            line-height: 2.0;
        }
    }
}