.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
